
.footable {
  width: 100%;

  &.breakpoint {
    > tbody > tr {
      &.footable-detail-show > td {
	border-bottom:none;

	& > span.footable-toggle:before {
		font-family:'FontAwesome';
		content: "\f068";
	}
      }

      &:hover:not(.footable-row-detail) {
	cursor: pointer;
      }

      > td.footable-cell-detail {
	background: #eee;
	border-top:none;
      }

      > td > span.footable-toggle {
	display: inline-block;
	font-family: 'FontAwesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	padding-right:5px;
	font-size:14px;

	&:before {
	  font-family:$font-icon;
	  content: "\f067";
	}
      }
    }

    &.toggle-medium > tbody > tr {
      > td > span.footable-toggle {
	font-size:18px;
      }
    }

    &.toggle-large > tbody > tr {
      > td > span.footable-toggle {
	font-size:24px;
      }
    }
  }

  > tfoot .pagination {
    margin: 0;
  }

  &.no-paging .hide-if-no-paging {
    display: none;
  }

  > thead > tr > th {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;

    &.footable-sortable:hover {
      cursor: pointer;
    }

    &.footable-sorted > span.footable-sort-indicator:before {
      content: "\f0de";
    }

    &.footable-sorted-desc > span.footable-sort-indicator:before {
      content: "\f0dd";
    }

    > span.footable-sort-indicator {
      display: inline-block;
      font-family: 'FontAwesome';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      padding-left: 5px;
    }

    > span.footable-sort-indicator:before {
      content: "\f0dc";
    }
  }
}

.footable-row-detail-inner {
  display:table;
}
	
.footable-row-detail-row {
  display: table-row;
  line-height: 1.5em;
}
	
.footable-row-detail-group  {
  display: block;
  line-height: 2em;
  font-size: 1.2em;
  font-weight: bold;
}
	
.footable-row-detail-name {
  display: table-cell;	  
  font-weight: bold;
  padding-right: 0.5em;
}
       
.footable-row-detail-value {
  display: table-cell;
}

.footable-odd {
  background-color: #f7f7f7;
}
