@media all and (min-width: 901px) {
  .content {
    .box-container {
      &.container-25 {
        width: 50%;
      }
    }
  }
}

@media all and (max-width: 900px) {

  .navbar {
    height: 50px;
    > ul {
      > li {
        > a {
          line-height: 50px;
          font-size: 22px;
          .fa {
            font-size: 25px;
          }
          .title {
            display: none;
          }
        }
        ul {
          top:50px;
        }
      }
    }
  }

  .form.label {
    li {
      label, .label {
        float: none !important;
        width: 100%;
        display: block;
        padding-bottom: 10px !important;
      }
      .form-content {
        padding-left: 0 !important;
        input:not([type=file]):not([type=checkbox]):not([type=radio]), textarea, select {
          width: 100% !important;
        }
      }
      &.submit {
        padding-left: 0;
      }
    }
  }

  .content {
    .box-container {
      width: 100% !important;
    }
  }
  .post-content {
    padding-right: 0 !important;
    float: none !important;
  }
  .post-rightbar {
    margin-left: 0 !important;
    float: none !important;
  }

  .sidebar {
    margin-left: -180px;
    &.fix { 
      margin-left: 0px;
    }
  }

  .hide {
    display: none !important;
  }
}
