#tabs {
    list-style-type: none;
    padding: 0 10px;
    margin-left:10px;
    a {
        display: inline-block;
        background-color: #d0d0d0;
        padding: 10px 20px;
        margin-bottom: 0;
        color: #23282d;
        font-weight: bold;
        cursor: pointer;
        &:hover {
            color: #fff;
            background-color: #e5e5e5;
        }
        &.active {
            color: #fff;
            background-color: #e5e5e5;
        }
    }
}

#tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    span{
        display: none;
        &.active {
            display: block;
        }
    }
}